
ul.NoteList {
    background-color: #445;
    display: block;
    margin-left: 45px;
    margin-right: 45px;
    text-align: left;
    list-style-type: none;
}

ul.NoteList > li {
  display: block;
}

ul.NoteList > li > h2 {
  display: inline-block;
  width: auto;
  font-weight: bold;
  font-size: 1.4em;
  padding: 15px 8px 2px 8px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-bottom: 2px dashed #aaa;
}

ul.NoteList > li > div {
  padding: 0 0 20px 1em;
  white-space: pre;
}

ul.NoteList > li.selected {
  background-color: #557;
}

ul.NoteList > li > h2 > ul.toolbar {
  list-style-type: none;
  display: inline-block;
}

ul.NoteList > li > h2 > ul.toolbar > li {
  display: inline-block;
  padding: 0 4px 0 4px;
  font-size: .75em;
}
