
dl.NoteList {
    background-color: #445;
    display: block;
    margin-left: 45px;
    margin-right: 45px;
    text-align: left;
}

dl.NoteList > dt {
  display: inline-block;
  width: auto;
  font-weight: bold;
  font-size: 1.4em;
  padding: 15px 8px 2px 8px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-bottom: 2px dashed #aaa;
}

dl.NoteList > dd {
  padding: 0 0 20px 1em;
  white-space: pre;
}
